<h2>Booking for <%= @flight.to_s %></h2>

<%= form_for @booking do |f|  %>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <%= f.fields_for :passengers do |p| %>
    <tr><td>Passenger #<%= p.index + 1 %>:</td>
    <td><%= p.text_field :name %></td>
    <td><%= p.email_field :email %></td>
    </tr>
  <% end %>
  </table>
  <tr>
    <div class="actions">
      <%= f.submit %>
    </div>
  </tr>
<% end %>

